

#variables{
	display: inline-block;
	margin-bottom: 50px;
}
#getFigure{
	position: relative;
	display: inline-block;
}
#getFigure p{
	width: 300px;
}
#gHips {
	position: relative;
	display: inline-block;
	width: 130px;
}
#gHips p{
	width: 300px;
}
#gBalley {
	position: relative;
	display: inline-block;
	width: 130px;
}
#gBalley p{
	width: 300px;
}
#gAss {
	position: relative;
	display: inline-block;
	width: 130px;
}
#gAss p{
	width: 300px;
}

								/* вытачки */

#vytochki {
	position: relative;
	width: 70%;
	height: 50%;
	left: 15%;

}
#vytochkii{
	margin: 70px 0 50px 0;
}
#v1p{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 27vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#v2p{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 15vw;
	width: 30px;
	margin: 0 0 0 0;
	}

	#v1z{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 39.7vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
	#v2z{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 51.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m5v{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 33vw;
	width: 30px;
	margin: 0 0 0 0;
	

}
	#m3v1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 20.7vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m3v2{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 9vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m7v1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 46vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m7v2{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 56vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m9v{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 64.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#f9{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 65.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#f5{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 32.4vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#f1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 0vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp1{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 20.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp2{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 8.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp5{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 32vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hz1{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 45.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#hz2{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 55.8vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

							/* Штаны передняя и задняя */

#shtany1 {
	position: relative;
	width: 45%;
	display: inline-block;
}
#p {
		margin:50px 0 50px 20px;
}
#z{
		margin:50px 0 51px 55px;

}
#shtany2 {
	position: relative;
	display: inline-block;
	width: 49%;

}

.black {
	width: 100%;
	height: 3px;
	background: black;
}

									/* передняя */
#vep{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 87vw;
	left: 17vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#vsp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 73.5vw;
    left: 29.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}#vdp1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 63vw;
    left: 21vw;
	width: 40px;
	margin: 0 0 0 0;
	
}
#nop{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 61vw;
    left: 3.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#vnp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 66vw;
    left: 6.4vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}#kp{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 62.5vw;
    left: 4.4vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#tnp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 46.8vw;
	left: 45.3vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#tkp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 62vw;
	left: 43vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#evp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 55.7vw;
    left: 13.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#kpn{
	text-align: center;
  	position: absolute;
    font-size: 0.8vw;
    bottom: 52.2vw;
    left: 3vw;
  	width: 30px;
  	margin: 0 0 0 0;

	
}
#ppp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.7vw;
    left: 10.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#vpp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.7vw;
    left: 19vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#nppp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
    left: 10.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#nvpp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
    left: 19vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#tkn{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 18.8vw;
	left: 43vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

							/* задняя */
#vez{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 87.5vw;
    left: 27.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(367deg);
}

#vsz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 78vw;
    left: 34vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#vdz1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 60.5vw;
    left: 28vw;
	width: 30px;
	margin: 0 0 0 0;
}

#vnz{
	text-align: center;
	position: absolute;
	font-size: 1.3vw;
    bottom: 68vw;
    left: 13vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#noz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 59.2vw;
    left: 7.8vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#kz{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 61vw;
    left: 2.3vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#kv{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 63.5vw;
    left: 11vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#tnz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 46.8vw;
	left: 51.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#tkz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 18.8vw;
	left: 49.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#evz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 56vw;
    left: 20vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#kzs{
	text-align: center;
	position: absolute;
	font-size: 1vw;
	bottom: 52vw;
    left: 6vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#kzn{
	text-align: center;
	position: absolute;
	font-size: 1.1vw;
    bottom: 34.4vw;
    left: 11.2vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#vpz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.4vw;
	left: 16.5vw;
	width: 30px;
	margin: 0 0 0 0;
}
#ppz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.4vw;
	left: 26vw;
	width: 30px;
	margin: 0 0 0 0;
}
#nppz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
	left: 16.5vw;
	width: 30px;
	margin: 0 0 0 0;
}
#nvpz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
	left: 26vw;
	width: 30px;
	margin: 0 0 0 0;
}

#tknz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 62vw;
	left: 49.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}





























/* @media only screen and (max-width : 1144px) {
 # {
  bottom: 32vw;
  left: -1vw;
 }
} */