
@media only screen and (max-width : 1370px){
#sorry{
	display: none;
}
span{
	color: #4F4F4F;
	font-weight: bold;
}
#guide span{
	color: red;
}
body{
	margin: 0 0 0 0;
}

#mer1{
text-align: justify;
color: #727272;
position: absolute;
width: 400px;
height: 550px;
display: none;
font-size: 12.5px;
margin: 35px 30px 30px 50px;
}

#mer2{
text-align: justify;
color: #727272;
position: absolute;
width: 400px;
height: 550px;
display: none;
font-size: 12.5px;
margin: 35px 50px 30px 30px;
left: 870px;
top: 0px;
}
#corr{
	position: absolute;
    top: 130px;
    left: 577px;
	display: none;
	color: red;
	width: 300px;
	height: 50px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;

}
.black {
	width: 100%;
	height: 3px;
	margin-top: 30px;
	background: black;
	display: none;
}

#helps{
	position: absolute;
    top: 600px;
	left: 625px;
	display: block;
	color: white;
	width: 300px;
	height: 50px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;

}
#corr a{
	color: red;
	text-decoration: none;
	cursor: pointer;
}

#variables{
	position: relative;
	width: 250px;
	text-align: left;
	margin: 20px 0 60px 70px;
	height: 500px;
	top: 50px;
	left: 457px;
	display: inline-block;
	color: #4B4B4B;


}

#inputs2{
	position: relative;
	display: inline-block;
	width: 250px;
	text-align: left;
	top: 50px;
	left: 417px;
	color: #4B4B4B;

}
 #variables p{
	width: 150px;
	font-family: Helvetica;
}


 #inputs2 p {
	width: 150px;
	font-family: Helvetica;
}
input{
	font-family: Helvetica;

}
#bt{
	width: 100%;
	display: none;
}
#bt2{
	width: 100%;
	display: block;
}
#bt3{
	width: 100%;
	display: none;
}
#bt4{
	width: 100%;
	display: none;
}
#bt5{
	width: 100%;
	display: none;
}
#bt6{
	width: 100%;
	display: none;
height: 100px;
}
#get{
	position: relative;
	left: 39.5%;
	bottom:30px;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}

#get2{
	position: relative;
	left: 40.5%;
	bottom:30px;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}
#get3{
	position: relative;
	left: 40.5%;
	bottom:30px;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}
#get4{
	position: relative;
	left: 40.5%;
	bottom:30px;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}

#get5{
	position: relative;
	left: 40.5%;
	bottom:30px;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}
#get6{
	position: relative;
	left: 34%;
    bottom: -33%;
	padding: 10px 100px 10px 100px;
	font-size: 15px;
	font-weight: bold;
	color: #4B4B4B;

}


#c1{
	margin: 5px 7px 0 0;
	padding: 5px 24px 5px 24px;
	border-radius: 5px;
}
#c2{
	margin: 5px 7px 0 0;
	padding: 5px 24px 5px 24px;
	border-radius: 5px;
}
#c3{
	margin: 5px 7px 0 0;
	padding: 5px 24px 5px 24px;
	border-radius: 5px;
}
#c4{
	margin: 5px 7px 0 0;
	padding: 5px 24px 5px 24px;
	border-radius: 5px;
}



#pp{
	font-size: 17px;
	font-weight: bold;
	font-family: Helvetica;
}


input[type="text"]{
  color: black;
  border: 1.45px solid #CFCFCF;
  border-radius: 5px;

}

#getFigure{
	position: relative;
	width: 800px;
	display: none;
	height: 450px;
	top: 36px;
    left: 30.5%;
    color: #4B4B4B;
}
#getFigure div {
	position: relative;
	width: 150px;
	height: auto;
	margin: 10px 10px 0 10px;
	display: inline-block;

}

#getFigure div img{
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	
}
#getM{
	position: relative;
	display: none;
	width: 130px;
	height: 250px;
	margin: 0 0 25px 0;
	top: 109px;
    left: 642px;
    color: #4B4B4B;
}
#getM p{
	width: 100px;
}
#gSp{
	position: relative;
	display: none;
	width: 150px;
	left: 622px;
    bottom: -115px;
	margin: 0;
	color: #4B4B4B;
}

#gSp p{
	width: 100px;
}
#gHips {
	position: relative;
	display: none;
	width: 130px;
	height: 600px;
    left: 40.5%;
    top: 35px;
    color: #4B4B4B;

}

#gBalley {
	position: relative;
	display: none;
	width: 150px;
    left: 462px;
    bottom: 0px;
    margin: 0;
    color: #4B4B4B;

}

#gAss {
	position: relative;
	display: none;
	width: 130px;
	left: 816px;
	bottom: 109px;
	margin: 0;
	color: #4B4B4B;
}
#gAss p{
	width: 100px;
}
#thanks{
	position: relative;
	text-align: center;
	display: none;
	width: 300px;
	height: 50px;
	font-size: 27px;
	font-family: Helvetica;
	font-weight: bold;
	top: 55px;
    left: 40%;
  	margin: 0 0 0 0;

}

#kurs{
	position: relative;
	text-align: center;
	display: none;
	width: 200px;
	height: 50px;
	font-size: 19px;
	font-family: Helvetica;
	font-weight: bold;
    top: -31px;
    left: 85%;
    margin: 0 0 0 0;

}
#guide{
	position: relative;
	text-align: center;
	display: none;
	width: 550px;
	height: 50px;
	font-size: 15px;
	font-family: Helvetica;
	font-weight: bold;
 	top: -1px;
    left: 30.3%;
    margin: 0 0 0 0;


}

								/* вытачки */

#vytochki {
	position: relative;
	width: 70%;
	height: 50%;
	left: 15%;

}
#vytochkii{
	display: none;
	margin: 70px 0 50px 0;
}
#v1p{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 27vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#v2p{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 15vw;
	width: 30px;
	margin: 0 0 0 0;
	}

	#v1z{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 39.7vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
	#v2z{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 12.5vw;
	left: 51.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m5v{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 33vw;
	width: 30px;
	margin: 0 0 0 0;
	

}
	#m3v1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 20.7vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m3v2{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 9vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m7v1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 46vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m7v2{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 56vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

	#m9v{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 38vw;
	left: 64.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#f9{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 65.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#f5{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 32.4vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#f1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 43.5vw;
	left: 0vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp1{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 20.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp2{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 8.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hp5{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 32vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#hz1{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 45.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#hz2{
	transform: rotate(270deg);
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 32vw;
	left: 55.8vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

							/* Штаны передняя и задняя */

#shtany1 {
	position: relative;
	width: 45%;
	display: none;

	

}
#p {	
	position: relative;
		margin:50px 0 50px 20px;
		top: 0px;
	    	left: 0px;
}
#z{
		margin:50px 0 51px 55px;

}
#shtany2 {
	position: relative;
	display: none;
	width: 49%;
	

}


									/* передняя */
#vep{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 87vw;
	left: 17vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#vsp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 73.5vw;
    left: 29.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}#vdp1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 63vw;
    left: 21vw;
	width: 40px;
	margin: 0 0 0 0;
	
}
#nop{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 61vw;
    left: 3.5vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#vnp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 66vw;
    left: 6.4vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}#kp{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 62.5vw;
    left: 4.4vw;
	width: 30px;
	margin: 0 0 0 0;
	
}#tnp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 46.8vw;
	left: 45.3vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#tkp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 62vw;
	left: 43vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#evp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 55.7vw;
    left: 13.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#kpn{
	text-align: center;
  	position: absolute;
    font-size: 0.8vw;
    bottom: 52.2vw;
    left: 3vw;
  	width: 30px;
  	margin: 0 0 0 0;

	
}
#ppp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.7vw;
    left: 10.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#vpp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.7vw;
    left: 19vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#nppp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
    left: 10.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#nvpp{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
    left: 19vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#tkn{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 18.8vw;
	left: 43vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

							/* задняя */
#vez{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 87.5vw;
    left: 27.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(367deg);
}

#vsz{
	text-align: center;
    position: absolute;
    font-size: 1.5vw;
    bottom: 78vw;
    left: 37vw;
    width: 30px;
    margin: 0 0 0 0;
    transform: rotate(280deg);
}

#vdz1{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 60.5vw;
    left: 28vw;
	width: 30px;
	margin: 0 0 0 0;
}

#vnz{
	text-align: center;
	position: absolute;
	font-size: 1.3vw;
    bottom: 68vw;
    left: 13vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#noz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 59.2vw;
    left: 7.8vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#kz{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 61vw;
    left: 2.3vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
	
}
#kv{
	text-align: center;
	position: absolute;
	font-size: 1.2vw;
	bottom: 73.5vw;
    left: 13.3vw;
	width: 30px;
	margin: 0 0 0 0;
	
}

#tnz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 46.8vw;
	left: 51.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#tkz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 18.8vw;
	left: 49.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#evz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 56vw;
    left: 20vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

#kzs{
	text-align: center;
	position: absolute;
	font-size: 1vw;
	bottom: 52vw;
    left: 6vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#kzn{
	text-align: center;
	position: absolute;
	font-size: 1.1vw;
    bottom: 34.4vw;
    left: 11.2vw;
	width: 30px;
	margin: 0 0 0 0;
	
}
#vpz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.4vw;
	left: 16.5vw;
	width: 30px;
	margin: 0 0 0 0;
}
#ppz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 34.4vw;
	left: 26vw;
	width: 30px;
	margin: 0 0 0 0;
}
#nppz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
	left: 16.5vw;
	width: 30px;
	margin: 0 0 0 0;
}
#nvpz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 4.5vw;
	left: 26vw;
	width: 30px;
	margin: 0 0 0 0;
}

#tknz{
	text-align: center;
	position: absolute;
	font-size: 1.5vw;
	bottom: 62vw;
	left: 49.5vw;
	width: 30px;
	margin: 0 0 0 0;
	transform: rotate(270deg);
}

		/* верхняя часть  */


#polochkaa{
	width: 100%;
	display: none;
}
#polochka1 {
	position: relative;
	width: 37.5%;
	display: inline-block;
	margin-left: 60px;
	margin-top: 55px;
	margin-bottom: 55px;


}
#pol{
	margin: 0 20px 0 30px;
}
#sp{
	margin: 0 20px 0 20px;
}
#spinka {
	position: relative;
	display: inline-block;
	width: 38%;
	float: right;
	margin-right: 110px;
	margin-top: 55px;
	margin-bottom: 55px;


	

}

   							/* полочка */

.pol{
	text-align: center;
	position: absolute;
	font-size: 1.4vw;
	margin: 0 0 0 0;

}
#a1t1{
	bottom: 21vw;
	left: -0.5vw;
	transform: rotate(270deg);
}
#a2t2{
	bottom: 24vw;
	left: 10.5vw;
	transform: rotate(270deg);
}
#mvp{
	bottom: 40.5vw;
    left: 6.3vw;
}
#vgrp{
	bottom: 33.5vw;
    left: 12.5vw;
	transform: rotate(270deg);
}
#shgp{
	bottom: 17.3vw;
    left: 8.9vw;
}
#a2t2np{
	bottom: 9vw;
	left: 10.5vw;
	transform: rotate(270deg);
}
#poltnp{
	bottom: 45.5vw;
	left: 12vw;
	transform: rotate(270deg);
}
#normap{
	bottom: 38.7vw;
    left: 12.5vw;
	transform: rotate(270deg);
}
#naklonp{
	bottom: 48.7vw;
    left: 20vw;
    transform: rotate(18deg);
}
#shgp2{
	bottom: 37.1vw;
    left: 18.5vw;
}
#p4{
	bottom: 41.3vw;
    left: 23.3vw;
	transform: rotate(270deg);
}
#pv1{
	bottom: 25vw;
    left: 18vw;
    transform: rotate(297deg);
}

#polmg{
	font-size: 1.2vw;
	bottom: 29.3vw;
    left: 23.3vw;
    transform: rotate(36deg);
}
#normanp{
	bottom: 1vw;
    left: 33.7vw;

}
#vbokap{
	bottom: 12vw;
    left: 39vw;
	transform: rotate(270deg);
}

									/* спинка */

#a8t8{
	bottom: 23vw;
	left: 30.3vw;
	transform: rotate(270deg);
}	
#a9t9{
	bottom: 23vw;
	left: 38.4vw;
	transform: rotate(270deg);
}	

#mvz{
	bottom: 43.5vw;
    left: 33vw;
	
}	

#mvz2{
	bottom: 38vw;
    left: 27.5vw;
	transform: rotate(270deg);
}	

#mvk{
	font-size: 1.3vw;
	bottom: 47.5vw;
    left: 28vw;
	transform: rotate(270deg);
}	

#shpl{
	bottom: 51.5vw;
    left: 17vw;
	
}	

#vpv{
	font-size: 1.2vw;
	bottom: 49vw;
    left: 4.8vw;
	transform: rotate(270deg);
}

#shsp{
	bottom: 32.3vw;
    left: 18.3vw;
	
}	

#nn{
	bottom: 0.8vw;
    left: 4vw;
}	

#vbz{
	bottom: 12vw;
    left: -0.5vw;
	transform: rotate(270deg);
}	

#kvz{
	font-size: 1.2vw;
	bottom: 23.8vw;
    left: 6.7vw;
	
}	

#dkv{
	font-size: 1.3vw;
    bottom: 48.8vw;
    left: 24vw;
    transform: rotate(353deg);
}	

#dv{
	bottom: 44.6vw;
    left: 21vw;
	transform: rotate(270deg);
}	

#shv{
	font-size: 1vw;
    bottom: 48.55vw;
    left: 18.8vw;
    transform: rotate(353deg);
}	

#vk{
	font-size: 1vw;
    bottom: 29.5vw;
    left: 9vw;
	transform: rotate(270deg);
}
#x1 {
    bottom: 39.5vw;
    left: 9.5vw;
	transform: rotate(270deg);
}	

						/* соединение */

#polvytachki{
	display: none;
}
#per {
	position: relative;
	width: 36%;
	display: inline-block;
	

}
#polv {
		margin:50px 0 50px 110px;
}
#zadnv{
		margin:50px 0 51px 240px;

}
#zadn {
	position: relative;
	display: inline-block;
	width: 38%;
	

}

  						/* переднее соединение */

#kd1{
	font-size: 1vw;
    bottom: 23.8vw;
    left: 40.5vw;


}
#kn1{
	font-size: 1.4vw;
    bottom: 40.2vw;
    left: 24.6vw;
	transform: rotate(270deg);

}
#nn2{
	font-size: 1.4vw;
    bottom: 40vw;
    left: 35.2vw;
	transform: rotate(270deg);

}
#kv1{
    bottom: 23.5vw;
    left: 25.2vw;
}
#kv2{
    bottom: 23.5vw;
    left: 35.7vw;
}
#m5d2p{
	font-size: 1.2vw;
    bottom: 2.5vw;
    left: 40.5vw;
}
#vbn{
    bottom: 14vw;
    left: 6.5vw;
	transform: rotate(270deg);
}

								/* заднее */

#n1{
	font-size: 1.4vw;
	bottom: 44.2vw;
    left: 25.2vw;
    transform: rotate(270deg);
}
#n2{
    bottom: 43.2vw;
    left: 40vw;
    transform: rotate(270deg);
}
#n3{
	bottom: 43.2vw;
    left: 52vw;
    transform: rotate(270deg);
}
#rast{
	bottom: 47vw;
    left: 46.5vw;
}
#k1{
    font-size: 1vw;
    bottom: 23.8vw;
    left: 18vw;
}
#k2{
    bottom: 23.5vw;
    left: 24.2vw;
}
#k3{

    bottom: 23.5vw;
    left: 40.5vw;
}
#k4{
	font-size: 1vw;
	bottom: 23.8vw;
    left: 52.6vw;
}
#m5d2z{
	font-size: 1.2vw;
    bottom: 2.5vw;
    left: 18.1vw;
}
#vbn2{
    bottom: 14vw;
    left: 52.5vw;
    transform: rotate(270deg);
}
					/* рукав и юбка */

#rukav{
	display:none;
}
#ruk {
	position: relative;
	width: 45%;
	display: inline-block;
	

}
#r {
		margin:65px 0 50px 110px;
}
#u{
		margin:50px 0 51px 225px;

}
#ubka {
	position: relative;
	width: 30%;
	display: inline-block;
}


				/* рукав */

#shkv{
	bottom: 84.4vw;
    left: 12vw;
}

#vok{
    bottom: 72.5vw;
    left: 5.8vw; 
    transform: rotate(270deg);
}

#zk{
	font-size: 1.2vw;
    bottom: 84.4vw;
    left: 49.3vw;

}


#o1{
    bottom: 84.4vw;
    left: 25vw;

}

#o2{
    font-size: 1.2vw;
    bottom: 61vw;
    left: 9.7vw;
   
}

#o3{
    font-size: 1vw;
    bottom: 63.4vw;
    left: 12.8vw;
    transform: rotate(270deg);
}


#o4{
	font-size: 1vw;
    bottom: 71.9vw;
    left: 15.9vw;

}


#o5{
	font-size: 1vw;
    bottom: 80vw;
    left: 34vw;
}

#o6{
	font-size: 1vw;
    bottom: 65.5vw;
    left: 43vw;
 
}
#o7{
	font-size: 1.3vw;
    bottom: 75.5vw;
    left: 33.5vw;
    transform: rotate(46deg);
}
#o8{
    bottom: 65.5vw;
    left: 47.5vw;
    transform: rotate(37deg);
}

#spu{
    bottom: 48vw;
    left: 28.5vw;
    transform: rotate(270deg);
}

#spu2{
    bottom: 20vw;
    left: 28.5vw;
    transform: rotate(270deg);
}

#bok{
	font-size: 1vw;
	bottom: 35.5vw;
    left: 10.5vw;
}

#q{
    bottom: 35.5vw;
    left: 19.1vw;
}


#qk{
    bottom: 36vw;
    left: 36.5vw;
    transform: rotate(355deg);
}


#qkv{
    bottom: 32.3vw;
    left: 39.5vw;
}


#qksh{
	font-size: 1.2vw;
	bottom: 34.5vw;
    left: 46.7vw;
    transform: rotate(270deg);
}


#nizl{
    bottom: 6.5vw;
    left: 19.5vw;
}

#nizp{
    bottom: 6.5vw;
    left: 34vw;
}
#nizk{
	font-size: 1vw;
    bottom: 4.3vw;
    left: 41.7vw;
    transform: rotate(270deg);
}
#R {
    bottom: 27.8vw;
    left: 43.7vw;
    transform: rotate(270deg);
}



@media only screen and (max-width : 1364px) {
#inputs {
	display: none;
}
#sorry {
	color: #575656;
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	font-size: 25px;
	font-family: Helvetica;
	left: 25%;
	top: 45%;
}
}


@media only screen and (max-width : 640px) {
#inputs {
	display: none;
}
#sorry {
	color: #575656;
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	font-size: 15px;
	font-family:Helvetica;
	left: 25%;
	top: 45%;
	min-width: 133px;
}
}



